<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    RewriteRule ^blog/([0-9a-z]+)/(.*)/([0-9]+) /?postId=$3#/$1/$2

    # Admin-page...
    RewriteRule ^admin-page sb-admin.php [L]
    RewriteRule ^blog/admin-page/([0-9a-z]+) admin-page#/$1

    # Blog App Installer
    RewriteRule ^installer blog-installer.php [L]
    
</IfModule>