<div class="blog-footer" {{bind-attr style="footerBgColor"}}>
        
{{#if hasNavbar}}
    <p>
        <a href="#topNavbar"><i class="fa fa-arrow-up"></i> Back to top</a>
    </p>
{{/if}}
    <p>Copyright &copy; {{currentYear}} - All rights reserved</p>
    <p class="small">Exyht</p>
</div>