<div class="blog-footer" {{bind-attr style="footerBgColor"}}>
        
{{#if hasNavbar}}
    <p>
        <a href="#topNavbar"><i class="fa fa-arrow-up"></i> Back to top</a>
    </p>
{{/if}}
    <p>Copyright &copy; {{currentYear}} - {{{blogTitle}}} - All rights reserved</p>
    <p class="small">Built with <a href="https://github.com/Exyht/exyht" alt="Exyht link">Exyht</a></p>
</div>
