<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{#link-to 'index'}}<i class="fa fa-angle-double-left"></i> Back to Posts{{/link-to}}
                &nbsp;&nbsp;Comments for <strong>{{title}}</strong>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                  {{#each comment in comments}}
                    {{manage-comment cmt=comment}}
                  {{/each}}
                </div>
                <!-- /.list-group -->
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
              {{#link-to 'index'}}<i class="fa fa-angle-double-left"></i> Back to Posts{{/link-to}}
                 &nbsp;&nbsp;Comments for <strong>{{title}}</strong>
            </div>
        </div>
                <!-- /.panel -->
    </div>
            <!-- /.col-lg-12 -->

   </div>
   <!-- /.row -->
</div>
<!-- /#page-wrapper -->