<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3 huge">
                Dashboard
                </div>
                <div class="col-md-9">
                <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
                  
                  <div class="btn-group" role="group" aria-label="...">
                  {{#link-to 'profilesetting'}}
                      <button class="btn btn-primary">

                      <i class="fa fa-certificate"></i>
                        Manage Logo
                      </button>
                    {{/link-to}}
                  </div>
                  <div class="btn-group" role="group" aria-label="...">
                    {{manage-status
                        blog_name=blog_name
                        blog_subtitle=blog_subtitle
                        read_only_mode=read_only_mode
                        has_navbar=has_navbar
                        has_cmnt_feature=has_cmnt_feature
                        blog_links=blog_links}}
                  </div>
                  <div class="btn-group" role="group" aria-label="...">
                  {{#link-to 'typeblogpost'}}
                    <button class="btn btn-primary">
                    <i class="fa fa-plus-circle"></i>
                     Create New Post 
                    </button>
                    {{/link-to}}
                  </div>
                </div> 
              </div>
            </div>
            </div>
    </div>
    <!-- /.col-lg-12 -->
    </div>
    
	{{toprow-notification
        posts=posts
        newComment=newComment
        flaggedComment=flaggedComment}}
		
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{count-posts posts=posts}}</strong> 
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                  {{#each post in posts}}
                    {{render 'posttitle' post}}
                  {{/each}}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->