<div id="page-wrapper">
{{prof-setting
      id=id
      hashedEmail=hashedEmail
      about=about
      image=image
      isProfileEditingOnForProfileSetting=isProfileEditingOnForProfileSetting}}
</div>