<div id="page-wrapper">
{{prof-setting
      id=id
      hashedEmail=hashedEmail
      about=about
      image=image
      editProfileTrue="editProfileTrue"
      isProfEditOnForTypeBlogPost=isProfEditOnForTypeBlogPost
      aboutAdminForTypeBlogPost=aboutAdminForTypeBlogPost
      isProfileEditingOnForProfileSetting=isProfileEditingOnForProfileSetting}}
</div>